supervised_learning/classification/28-saved.pkl
supervised_learning/classification/27-saved.pkl
supervised_learning/classification/27-output.pkl
supervised_learning/classification/28-output.pkl
supervised_learning/optimization/MNIST.npz
supervised_learning/optimization/Binary_train.npz
supervised_learning/error_analysis/labels_logits.npz
supervised_learning/error_analysis/confusion.npz
*.h5
!supervised_learning/transfer_learning/*.h5
*.pyc
*.keras
*.json